.App {
  text-align: center;
}

.ui.main.container{
  margin-top: 3em;
}

.ui.selection.dropdown{
  min-width: 12em !important;
}

.text-left{
  text-align: left;
}

.font-size-header{
  font-size: 20px !important;
}

.font-size-meta{
  font-size: 15PX !important;
}

.font-color-black{
  color: black !important;
}

.margin-top{
  margin-top: 1em;
}

.margin-top-xxl{
  margin-top: 14em !important;
}

.margin-bottom-md{
  margin-bottom: 4em !important;
}

.margin-label{
  margin: 6.33em 0 !important;
}

.padding-md{
  padding: 2em;
}

.advert-img-radius{
  border-radius: 7em;
}

.advert-margin{
  margin: 25px 0;
}

.apply-button{
  background: #00A8F3 !important;
  color: white !important;
}

.margin-apply-button{
  margin: 5.05em 0.5em !important;
}

.ui.fluid.card:hover {
  -webkit-transform: scale(1.005);
  transform: scale(1.005);
  text-decoration: none;
}